.bg-custom {
  background-color: #013104 !important;
}

.expired-row {
  background-color: rgba(238, 235, 235, 0.377) !important;
}

.footer {
  background-color: #0b2e0b !important;
}

/* ==== Estilo do Footer ==== */
#app-footer {
  background-color: #013104 !important; /* verde personalizado */
  color: white;
  font-size: 0.9rem;
  text-align: center;
  padding: 8px 0 !important;
  border-top: 2px solid #013104;
}

#app-footer .v-col {
  display: flex;
  justify-content: center;
  align-items: center;


}

#app_bar {
  background-color: #013104 !important;
}

